.conteudo_main{
    display: flex;
    margin: 10px 0;
    height: 75vh;
}

menu{
    width: 17vw;
}
menu button{
    cursor: pointer;
    width: 90%;
    height: 80px;
    background-color: lightgray;
    font-size: 12px;
    font-weight: 600;
    transition-duration: 100ms;
    margin: 7px;
    border-radius: 8px;
}

.btnsNav{
    cursor: pointer;
    width: 95%;
    height: 100px;
    background-color: transparent;
    font-size: 12px;
    font-weight: 600;
    transition-duration: 100ms;
    margin: 7px;
    border-radius: 8px;
}

.material-symbols-outlined{
    font-size: 15px;
    display: grid;
    padding: 6px 0px;
}

.btnsNav:hover{
    background-color:  rgb(255, 255, 34);
    border-right: none;
}

.insumos_area{
    width: 83vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
}


.card:hover{
scale: 1.12;
transition: ease-in-out;
transition-duration: 300ms;
}

.insumo{
    width: 11rem;
    font-size: 12px;
    background-color: #fff;
    height: 30vh;
    margin: 20px;
}

.indisponivel{
    background-color: rgb(158, 158, 158);
}

li{
    padding: 5px 10px;
} 
h5{
    font-size: 15px;
}

.card{
    overflow: hidden;
}

.card-body{
    position: relative;
}

.eliminate{
    display: none;
    position: absolute;
    border: 1px solid black; 
    border-top: 0px solid black; 
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 1px 1px 0px black;
    width: 25px;
    height: 20px;
    top: -30px;
}

.delete{
    right: 20px;
}

.edit{
    right: 50px;
}

.cancel{
    right: 80px;
}

.eliminateActive{
    display: block;

    animation-name: eliminateActive;
    animation-timing-function: ease-in-out;
    animation-duration: 300ms;
    animation-fill-mode: both;

}

@keyframes eliminateActive {
    from{
        top: -30px;
    }to{
        top: -2px;
    }
}

.icons{
    height: 75%;
}

.list-group-item{
    background-color: transparent;
}

.cancelCard{
    background-color: red !important;
}

@media only screen and (max-width: 720px)  {
.conteudo_main{
    flex-direction: column;
    height: 92vh;
}

    .card{
        height: 23%;
        font-size: 6px;
        width: 39%;
    }
    
    h5{
        font-size: 8px;
    }
    .card-body{
        height: 20%;
    }

    .eliminate{
        width: 15px;
    height: 14px;
    }

    .insumos_area{
        width: 100vw;
        height: 100%;
        flex-flow: wrap;
        align-content: flex-start;
    }

    menu{
                width: 100vw;
        height: 7vh;
        display: flex
;
        justify-content: center;
        margin: 5% auto;
    }

    menu > button {
        width: 22%;
        height: 82%;
        margin: auto;
        font-size: 8px;
    }

    
}