

main{
    height: 85vh;
    width: 100vw;
    display: flex;
}


h5{
    margin-top: 10px;
    text-align: center;
}


.hist_ent{
 position: relative;
 height: 100%;
 width: 20vw;   
}


.calc_geral{
    height: 100%;
    width: 60vw; 

}

.hist_saida{

 height: 100%;
 width: 20vw;  
}

.data_ent{
    width: 65%;
    height: 60px;
    margin: 20px auto;
}

  

.view_ent{
    height: 75%;
    width: 85%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    overflow-y: scroll;
}

.att{
    height: auto;
    font-size: 12px;
    border-bottom: 1px dashed black;
}

.calc_geral{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}

.center{
    width: 95%;
    height: 47%;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.valores{
    height: 20px;
    width: 40%;
    margin: 10px 5px;
    font-size: 13px;
}
.valores > input {
    height: 20px;
    width: 20px;
}

.grafico{
    width: 60%;
}

.geral{
    border-top: 1px dashed black;
    margin-top: 50px;
}

.definir_saida{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.form_saida{
    height: 28%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

label{
    margin: 0px;
    font-size: 14px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]{
    border: 1px solid #333;
    border-radius: 2px;
    outline: none;
    height: 15px;
    width: 200px;
    display: grid;
    font-size: 13px;
     -moz-appearance: textfield;
  padding: 1px;
  -ms-appearance: none;
  appearance: none;
}

input[type="text"]{
    border: 1px solid #333;
    border-radius: 2px;
    outline: none;
    height: 15px;
    width: 200px;
    display: grid;
    font-size: 13px;
    padding: 1px;
}

.home{
    position: absolute; height: 27px; width: 100px; cursor: pointer; top: 5%;
    left: 5%; background-color: #fff; border-radius: 8px; border: 2px solid rgb(172, 172, 172);
}
.btn_saida{
    position: absolute;
    height: 40px;
    width: 18.9%;
    bottom: 5%;
    right: 10px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    }

    .caixa_atual{
        width: 100%; text-align: center;
    }

@media only screen and (max-width: 720px) {

    main{
        flex-direction: column;
        min-height: 85vh;
        height: auto;
        max-height: 250vh;
    }
    .home{
        font-size: 8px;
        width: 50px;
        top: 4%;
    }

    .hist_ent{
        order: 1;
        width: 100%;
        height: 500px;
    }
    .hist_saida{
        order: 2;
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .calc_geral{
        width: 100%;
        height: 500px;
    }

    .btn_saida{
        position: unset;
        height: 40px;
        border: 1px solid black;
        border-radius: 8px;
        cursor: pointer;
        width: 100%;
    }
    .caixa_atual{
        font-size: 14px;
    }
    .center{
        font-size: 10px;
    }
    .valores {
    height: 20px;
    width: 58%;
    margin: 10px 5px;
    font-size: 10px;
}

}