

.functions{
    height: 79vh;
    width: 90%;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin: 1% auto;
}



.ladoA{
height: 80%;
width: 20vw;
display: flex;
flex-direction: column;
justify-content: space-around;
border-right: 2px solid black;
}

.btn_f{
height: 100px;
width: 200px;
border-radius: 8px;
font-size: 1em;
font-weight: bold;
cursor: pointer;
}

.btn_f:hover{
background-color: rgb(255, 255, 34);

}

.ladoB{
    height: 80%;
    margin: 0 auto;
}

.descrition{
width: 45vw;
height: auto;
}
.descrition h2{
text-align: center;
}
.descrition  p{
margin: 20% auto;
font-size: x-large;
opacity: 0;
animation-name: texto ;
animation-duration: 800ms;
animation-fill-mode: both;

}
@keyframes texto {
from{
    opacity: o;
}to{
    opacity: 1;
} 
}



@media only screen and (max-width: 720px) {

    

    .functions{
    height: 30vh;
    width: 90%;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin: 42% auto;
    flex-direction: column;
}

    .btn_f{
        height: 50%;
        margin-top: 50%;
        width: 30%;
        border-radius: 8px;
        font-size: 12px;
    }

    .ladoA{
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        border: none;
    }

    .ladoB{
     display: none;
    }
    .descrition{
        width: 60vw;
        height: 100%;
    }
    .descrition h2{
        text-align: center;
        font-size: x-large;
        }
        .descrition  p{
        opacity: 0;
        font-size: 14px;
        animation-name: texto ;
        animation-duration: 800ms;
        animation-fill-mode: both;
        }
}




