.box_addclient{
    padding: 10px;
    border-radius: 8px;
    width: 35%;
    margin: 0 auto;
    background-color: lightgray;
}

.content{
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}
.content input{
    outline: none;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 12px;
    padding: 2px 5px;
}


.btns{
    width: 60%;
    font-size: 12px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.btns button{
    cursor: pointer;
    height: 20px;
    width: 60px;
    border-radius: 8px;
    background-color: blue;
    color: #fff;
}

@media only screen and (max-width: 720px){
    h1{
        font-size: 15px;
        margin: 12px;
    }
    .box_addclient {
        width: 80vw;
        height: auto;
        
    }

    .content{
        font-size: 12px;
        margin: 0px;


    }

    .content input{
        display: grid;
        outline: none;
        border-radius: 8px;
        font-size: 12px;
    }

    .content label{
        margin-top: 12px;
    }
    .btns button{
        cursor: pointer;
        height: 30px;
        width: 70px;
        border-radius: 8px;
        background-color: blue;
        color: #fff;
        font-size: 12px;
        margin-top: 14px;
    }
}

.erro{
    
  color: #fff;
  font-size: 8px;
  text-align: justify;
  width: 100%;
  background-color: red;
  border-radius: 8px;
  padding: 5px;
  margin: 2px;


}