/* You can add global styles to this file, and also import other style files */
*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: url("../src/assets/c82bc3c499cbbd3c5be6ba58179f8701.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    
}

@media only screen and (max-width:720px) {
    body{
        background-position: 60%;
    }
}